body{
    background:#e0f8d7;
    margin-left: 50px;

}
h1{
    color: blue;
    font-family: fantasy;

}
h2{
    font-family: fantasy;
}
p{
    font-size: 18px;
}
header{
    margin-top: 50px;
}

.ime{
    margin-bottom: 20px;
}
.logo{
    width: 22px;
 }
 footer{
     margin-top: 50px;
 }